DB_ENDPOINT=localhost

# DB DEV2
# Tunnel: ssh $SSH_BASTION_DEV2 -L 0.0.0.0:$DB_PORT_DEV2:$DB_REMOTE_HOST_DEV2:5432 -N
DB_PORT_DEV2=5440
DB_USERNAME_DEV2=
DB_PASSWORD_DEV2=
DB_NAME_DEV2=
SSH_BASTION_DEV2=ec2-user@<dev2-bastion-ip>
DB_REMOTE_HOST_DEV2=<dev2-aurora-endpoint>

# DB DEV1
# Tunnel: ssh $SSH_BASTION_DEV1 -L 0.0.0.0:$DB_PORT_DEV1:$DB_REMOTE_HOST_DEV1:5432 -N
DB_PORT_DEV1=5434
DB_USERNAME_DEV1=
DB_PASSWORD_DEV1=
DB_NAME_DEV1=
SSH_BASTION_DEV1=ec2-user@<dev1-bastion-ip>
DB_REMOTE_HOST_DEV1=<dev1-aurora-endpoint>

# DB STG4
# Tunnel: ssh $SSH_BASTION_STG4 -L 0.0.0.0:$DB_PORT_STG4:$DB_REMOTE_HOST_STG4:5432 -N
DB_PORT_STG4=
DB_USERNAME_STG4=
DB_PASSWORD_STG4=
DB_NAME_STG4=
SSH_BASTION_STG4=ec2-user@<stg4-bastion-ip>
DB_REMOTE_HOST_STG4=<stg4-aurora-endpoint>

AWS_ACCESS_KEY_ID_DEV2=
AWS_SECRET_ACCESS_KEY_DEV2=
AWS_COGNITO_USER_POOL_ID_DEV2=
AWS_COGNITO_CLIENT_ID_DEV2=

AWS_ACCESS_KEY_ID_DEV1=
AWS_SECRET_ACCESS_KEY_DEV1=
AWS_COGNITO_USER_POOL_ID_DEV1=
AWS_COGNITO_CLIENT_ID_DEV1=

# STG4 authenticates via a named AWS profile (assume-role chain), not static keys.
# Configure the profile in ~/.aws/config + ~/.aws/credentials, e.g.:
#   [profile refpl-stg]
#   source_profile = refpl-dev
#   role_arn       = arn:aws:iam::535325915171:role/fpls-stg-switch-admin-role
#   region         = ap-northeast-1
AWS_PROFILE_STG4=refpl-stg
AWS_COGNITO_USER_POOL_ID_STG4=
AWS_COGNITO_CLIENT_ID_STG4=
