DB_ENDPOINT=localhost

# DB DEV2
# ssh ec2-user@<dev2-bastion-ip> -L 0.0.0.0:5440:<dev2-aurora-endpoint>:5432 -N
DB_PORT_DEV2=5440
DB_USERNAME_DEV2=
DB_PASSWORD_DEV2=
DB_NAME_DEV2=

# DB DEV1
# ssh ec2-user@<dev1-bastion-ip> -L 0.0.0.0:5434:<dev1-aurora-endpoint>:5432 -N
DB_PORT_DEV1=5434
DB_USERNAME_DEV1=
DB_PASSWORD_DEV1=
DB_NAME_DEV1=

AWS_ACCESS_KEY_ID_DEV2=
AWS_SECRET_ACCESS_KEY_DEV2=
AWS_COGNITO_USER_POOL_ID_DEV2=
AWS_COGNITO_CLIENT_ID_DEV2=

AWS_ACCESS_KEY_ID_DEV1=
AWS_SECRET_ACCESS_KEY_DEV1=
AWS_COGNITO_USER_POOL_ID_DEV1=
AWS_COGNITO_CLIENT_ID_DEV1=
