DB_ENDPOINT=localhost

# DB DEV2
# Tunnel: ssh $SSH_BASTION_DEV2 -L 0.0.0.0:$DB_PORT_DEV2:$DB_REMOTE_HOST_DEV2:5432 -N
DB_PORT_DEV2=5440
DB_USERNAME_DEV2=
DB_PASSWORD_DEV2=
DB_NAME_DEV2=
SSH_BASTION_DEV2=ec2-user@<dev2-bastion-ip>
DB_REMOTE_HOST_DEV2=<dev2-aurora-endpoint>

# DB DEV1
# Tunnel: ssh $SSH_BASTION_DEV1 -L 0.0.0.0:$DB_PORT_DEV1:$DB_REMOTE_HOST_DEV1:5432 -N
DB_PORT_DEV1=5434
DB_USERNAME_DEV1=
DB_PASSWORD_DEV1=
DB_NAME_DEV1=
SSH_BASTION_DEV1=ec2-user@<dev1-bastion-ip>
DB_REMOTE_HOST_DEV1=<dev1-aurora-endpoint>

AWS_ACCESS_KEY_ID_DEV2=
AWS_SECRET_ACCESS_KEY_DEV2=
AWS_COGNITO_USER_POOL_ID_DEV2=
AWS_COGNITO_CLIENT_ID_DEV2=

AWS_ACCESS_KEY_ID_DEV1=
AWS_SECRET_ACCESS_KEY_DEV1=
AWS_COGNITO_USER_POOL_ID_DEV1=
AWS_COGNITO_CLIENT_ID_DEV1=
