# dependencies
/node_modules
/dist

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
